@section Header {
    @Html.Partial("_IndexHeader")
}

<div class="row">
    <div class="col-sm-8 right-border main">
        @{
            bool first = true;
            foreach(IDocument post in Model.DocumentList(Keys.PageDocuments))
            {
                if (!first)
                {
                    <hr />
                }
                first = false;
                string lead = post.String(BlogExKeys.Lead);
                <article class="post-preview">
                    <a href="@Context.GetLink(post)">
                        <h2 class="post-title">@post.WithoutSettings.String(BlogExKeys.Title)</h2>
                        @if(!string.IsNullOrWhiteSpace(lead))
                        {
                            <h3 class="post-subtitle">@lead</h3>
                        }
                    </a>
                    <p class="post-meta">Posted on @(post.Get<DateTime>(BlogExKeys.Published).ToLongDateString(Context))</p>
                    @if(Context.Bool(BlogExKeys.IndexFullPosts))
                    {
                        @Html.Raw(post.Content)
                    }
                    else
                    {
                        @Html.Raw(post.String(BlogExKeys.Excerpt))
                    }
                </article>
            }
        }
        <ul class="pager">
            <li class="previous">
                @if(Model.Bool(Keys.HasPreviousPage))
                {
                    <a href="@(Context.GetLink(Model.Document(Keys.PreviousPage)))"><span aria-hidden="true">&larr;</span> Newer</a>
                }
            </li>
            <li class="next">
                @if(Model.Bool(Keys.HasNextPage))
                {
                    <a href="@(Context.GetLink(Model.Document(Keys.NextPage)))">Older <span aria-hidden="true">&rarr;</span></a>
                }
            </li>
        </ul>
    </div>
    <div class="col-sm-4 sidebar">
        @Html.Partial("_Sidebar")
    </div>
</div>
